//- participateAssessment.jade
//- This file provides the HTML body part.
body
  include header
  #content
    table
      tr
        td(style= "width:30%;" )
          a(href="/"): img(src="/images/assessment-icon.png")
        td
          h1 Assessment participation
            p To participate in an assessment, enter your user id and and the id of the assessment
  include footer